In [1]:
import pandas as pd

In [2]:
#讀取資料夾中boston.csv讀取其欄位CHAS、NOX、RM，輸出成.xlsx檔案

In [3]:
boston_data = pd.read_csv("boston.csv", usecols=['CHAS', 'NOX', 'RM'])
boston_data

     CHAS    NOX     RM
0     0.0  0.538  6.575
1     0.0  0.469  6.421
2     0.0  0.469  7.185
3     0.0  0.458  6.998
4     0.0  0.458  7.147
..    ...    ...    ...
501   0.0  0.573  6.593
502   0.0  0.573  6.120
503   0.0  0.573  6.976
504   0.0  0.573  6.794
505   0.0  0.573  6.030

[506 rows x 3 columns]

In [5]:
boston_data.to_excel("boston.xls")