In [10]:
import pandas as pd
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [12]:
#缺失值填入字串'others'
q_df=q_df.fillna('others')
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [13]:
#更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?
pf = pd.get_dummies(q_df[['Profession']])
q_df = pd.concat([q_df, pf], axis = 1)
q_df

,Sex,Profession,Profession_engineer,Profession_others,Profession_teacher
0,male,teacher,0,0,1
1,male,engineer,1,0,0
2,female,others,0,1,0
3,female,engineer,1,0,0