In [33]:
import pandas as pd
score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

In [31]:
#1.6號學生(student_id=6)3科平均分數為何?

In [56]:
score_df.loc[6]

math_score       60
english_score    54
chinese_score    55
Name: 6, dtype: int64

In [58]:
score_df.loc[6].sum()

169

In [38]:
score_df.sum(axis=1)

student_id
1     192
2     169
3     132
4     236
5     206
6     169
7     194
8     187
9     172
10    171
dtype: int64

In [41]:
score_df.sum(axis=1)[6]

169

In [42]:
#2. 6號學生3科平均分數是否有贏過班上一半的同學

In [48]:
num =0
for i in range(9):
    com =score_df.sum(axis=1)[i+1]
    if i == 5:
        continue
    if (com<score_df.sum(axis=1)[6]):
        num+=1
    else:
        continue
print ('6號學生贏過', num, '個人')

6號學生贏過 1 個人

In [49]:
#由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?

In [51]:
add_score = score_df.apply(lambda x : x**(0.5)*10)
add_score

            math_score  english_score  chinese_score
student_id
1            74.833148      81.240384      83.666003
2            94.868330      67.082039      58.309519
3            67.082039      56.568542      74.161985
4            83.666003      87.749644      94.339811
5            74.833148      89.442719      83.666003
6            77.459667      73.484692      74.161985
7            67.082039      83.666003      88.881944
8            58.309519      87.749644      87.177979
9            50.000000      93.273791      77.459667
10           93.808315      63.245553      65.574385

In [55]:
add_score.loc[6]

math_score       77.459667
english_score    73.484692
chinese_score    74.161985
Name: 6, dtype: float64

In [59]:
#承上題，加分後各科班平均變多少

In [61]:
add_score.mean(axis=1)

student_id
1     79.913178
2     73.419963
3     65.937522
4     88.585153
5     82.647290
6     75.035448
7     79.876662
8     77.745714
9     73.577819
10    74.209418
dtype: float64